@model GestionDocumental.Data.DocumentCheck

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DocumentCheck</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Requiered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requiered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckType.IdCheckType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckType.IdCheckType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDocumentCheck }) |
    @Html.ActionLink("Back to List", "Index")
</p>
