@model GestionDocumental.Data.DocumentProcess

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DocumentProcess</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Requiered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requiered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentCheck.IdDocumentCheck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentCheck.IdDocumentCheck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expedient.FileExpendient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expedient.FileExpendient)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDocumentProcess }) |
    @Html.ActionLink("Back to List", "Index")
</p>
