@model GestionDocumental.Data.CheckProcess

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CheckProcess</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Complete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckType.IdCheckType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckType.IdCheckType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expedient.FileExpendient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expedient.FileExpendient)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCheckProcess }) |
    @Html.ActionLink("Back to List", "Index")
</p>
