@model IEnumerable<GestionDocumental.Data.CheckProcess>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Complete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckType.IdCheckType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expedient.FileExpendient)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Complete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckType.IdCheckType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expedient.FileExpendient)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCheckProcess }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCheckProcess }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCheckProcess })
        </td>
    </tr>
}

</table>
