@model GestionDocumental.Data.Expedient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Expedient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileExpendient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileExpendient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameDemandant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameDemandant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Settled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Settled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Court)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Court)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Magistrate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Magistrate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resposible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resposible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appraise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appraise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Advance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Advance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.CodProject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.CodProject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeProcess.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeProcess.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdExpendient }) |
    @Html.ActionLink("Back to List", "Index")
</p>
