@model  GestionDocumental.Metadata.ExpedientProjectMD

@{
    ViewBag.Title = "Edit";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.common.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.rtl.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.default.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.mobile.all.min.css">


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2018.2.516/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.2.516/js/kendo.all.min.js"></script>

    <script src="~/Scripts/app/app.expedientProject.js"></script>
    <script src="~/Scripts/controllers/expedientProject.Controller.js"></script>
    <script src="~/Scripts/Factory/expedientProjectFactory.js"></script>
</head>


<body ng-app="ExpedientProjectApp" ng-controller="ExpedientProjectController as vm">

    <h2>Expedientes del proyecto @Model.NameProject  </h2>

    <label id="idExpedent" hidden>@Model.IdProject</label>
    <div class="row">
        <label class="control-label col-md-2">Código del proyecto:</label>
        <div class="col-md-3">
            @Model.CodProject
    </div>
    <label class="control-label col-md-2">Representante:</label>
    <div class="col-md-3">
        @Model.IdRepresent
        </div>
    </div>
    <div>
        <div><label class="">@Html.ActionLink("+ Crear expediente", "Create")</label><br /></div>
    </div>
    <br />
    <div kendo-grid k-options="vm.mainGridOptions">
    </div>
    <table class="table"></table>
    <div>
        @Html.ActionLink("Regresar a proyectos", "../Projects/Index")
    </div>
</body>
</html>
