@model IEnumerable<GestionDocumental.Data.Project>



<h2>Lista de proyectos</h2>


<p>
    @Html.ActionLink("+ Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Código de proyecto
        </th>
        <th>
            Nombre del proyecto
        </th>
        <th>
            Fecha de creación
        </th>
        <th>
            Proyecto usado
        </th>
        <th>
            Proyecto activo
        </th>
        <th>
            Avance del proyecto
        </th>
        <th>
            Acronimo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodProject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameProject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UseProject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Directory.Acronym)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdProject }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.IdProject }) |
            @Html.ActionLink("Eliminación", "Delete", new { id=item.IdProject })
        </td>
    </tr>
}

</table>
