@model IEnumerable<GestionDocumental.Data.Project>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodProject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameProject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UseProject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Directory.Acronym)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodProject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameProject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UseProject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Directory.Acronym)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdProject }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdProject }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdProject })
        </td>
    </tr>
}

</table>
