@model IEnumerable<GestionDocumental.Data.TypeProcess>

@{
    ViewBag.Title = "Tipo de procesos";
}

<link rel="icon" href="@Url.Content("~/Img/logo.ico") />

<h2>Lista de tipos de procesos</h2>

<p>
    @Html.ActionLink("+ Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriptionq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UseType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descriptionq)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UseType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTypeProcess }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTypeProcess }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTypeProcess })
        </td>
    </tr>
}

</table>
