@model GestionDocumental.Data.CheckType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CheckType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Check.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Check.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeProcess.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeProcess.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCheckType }) |
    @Html.ActionLink("Back to List", "Index")
</p>
